/* Page styles 
============================= */

body {
	font: normal 1.1em/1.5 sans-serif;
	color: #222;
	background-color: #edeff0;
}

.main-wrapper {
	width: 90%;
	margin: auto;
}

* {
	box-sizing: border-box; /* DRT nice solution for fixing over-flow of width due to padding calculation */
}

/* Layout Element Colors
==============================  */

.main-header              { background-color: black; }
.main-logo                { background-color: green; }
.main-nav li              { background-color: blue; }
.primary-content          { background-color: purple; }
.secondary-content        { background-color: red; }
.main-footer              { background-color: gray; }

/* Header, Banner and Footer Layout 
=================================== */

.main-header {
	padding: 20px; /* DRT - this is used to fix margin-collapsing bug that happens when body element is followed by element wth margin = 0 */
    display: table;
    width: 100%; /* required when using display: table; */
    min-height: 150px;
}

.main-logo,
.main-nav {
	display: table-cell; /* changed to a table display method */
	vertical-align: align;
}

.main-nav {
	padding-left: 50px; /* cant use margins when using table display */
}

.main-logo,
.main-nav,
.main-nav li {
	display: inline-block;	
}

.main-nav li {

    margin-right: 15px;  
}

.main-logo,
.main-nav li {	
	border-radius: 5px;
}

.main-logo {

	width: 120px;
}
 
.main-logo a,
.main-nav a {
	color: white;
	text-decoration: none;
	display: block; /* anchors can be block because they are inside inline-block elements, ie li's. No visual difference if set to block */
	text-align: center;
    padding: 10px 20px; /* putting padding here instead of on li items makes large buttons that are clickable */
}

/* Column Layout
================================ */

.col {
	display: inline-block;
	padding: 20px;
	margin-right: -5px; /* DRT - fix for extra white space added */
	vertical-align: top; /* brings column up */
}

.primary-content {
	width: 60%;
}

.secondary-content {
	width: 40%;
}

/* Media Queries
================================ */

@media (max-width: 768px) {
	.main-logo,
	.main-nav,
	.main-nav li {
		display: block;
		width: initial;
		margin: initial;
	}
	.main-nav {
		padding-left: initial;
	}
	.main-nav li {
		margin-top: 15px;
	}
}