/* Page styles 
============================= */

body {
	font: normal 1.1em/1.5 sans-serif;
	color: #222;
	background-color: #edeff0;
}

.main-wrapper {
	width: 90%;
	margin: auto;
}
/* Layout Element Colors
==============================  */

.main-header              { background-color: black; }
.main-logo                { background-color: green; }
.main-nav li              { background-color: blue; }
.primary-content          { background-color: purple; }
.secondary-content        { background-color: red; }
.main-footer              { background-color: gray; }

/* Header, Banner and Footer Layout 
=================================== */

.main-header {
	padding: 20px; /* DRT - this is used to fix margin-collapsing bug that happens when body element is followed by element wth margin = 0 */
}

.main-logo,
.main-nav,
.main-nav li {
	display: inline;
}

.main-logo,
.main-nav li {
	padding: 10px 20px;
	border-radius: 5px;
}

.main-logo {
	margin-right: 50px;
}

.main-logo a,
.main-nav a {
	color: white;
	text-decoration: none;
}